table {
    max-width: 600px;
}

#page-header table {
    border-collapse: collapse;
}

#page-header td {
    padding: 10px;
}

#page-header {
    max-width: 600px;
    background-color: yellow;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-transform: uppercase;
}